<div class="container">
  <h2 class="title">
    <span class="title-word title-word-1">MY</span>
    <span class="title-word title-word-2"> SKI</span>
    <span class="title-word title-word-3">LLS</span>
  </h2>
</div>

<div class="container">
<div class="skills-donuts">
  <div class="multi-graph margin" style="color:black;">
    Frontend
    <div class="graph" data-name="HTML&CSS" 
        style="--percentage : 85; --fill: #be10b0 ;">
    </div>
    <div class="graph" data-name="JavaScript" 
        style="--percentage : 70; --fill: #0669AD ;">
    </div>
    <div class="graph" data-name="jQuery" 
        style="--percentage : 60; --fill: #E62A39 ;">
    </div>
    <div class="graph" data-name="React" 
        style="--percentage : 50; --fill: #FEDA3E ;">
    </div>
    <div class="graph" data-name="Angular" 
        style="--percentage : 20; --fill: #16885c ;">
    </div>
  </div>

  <div class="multi-graph margin" style="color:black;">
    Backend
    <div class="graph" data-name="Java" 
        style="--percentage : 80; --fill: #3dccb4 ;">
    </div>
    <div class="graph" data-name="PHP" 
        style="--percentage : 70; --fill: #c9599e ;">
    </div>
    <div class="graph" data-name="C++/C#" 
        style="--percentage : 50; --fill: #c97452 ;">
    </div>
    <div class="graph" data-name="Python" 
        style="--percentage : 30; --fill: #6dc765 ;">
    </div>
</div>
</div>
<!--
<div class="section" id="skill">
    <div class="container">
      <div class="h4 text-center mb-4 title">Skills 2</div>
      <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="progress-container progress-primary">
                <span class="progress-badge">Java</span>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                    data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                    style="width: 85%;"></div>
                  <span class="progress-value">85%</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="progress-container progress-primary">
                <span class="progress-badge">Python</span>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                    data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                    style="width: 60%;"></div>
                  <span class="progress-value">60%</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="progress-container progress-primary">
                <span class="progress-badge">Vaadin Framework</span>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                    data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                    style="width: 70%;"></div>
                  <span class="progress-value">70%</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="progress-container progress-primary">
                <span class="progress-badge">Angular8</span>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" data-aos="progress-full" data-aos-offset="10"
                    data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                    style="width: 60%;"></div>
                  <span class="progress-value">60%</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="progress-container progress-primary">
                <span class="progress-badge">SQL, MYSQL AND DB2</span>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                    data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                    style="width: 75%;"></div>
                  <span class="progress-value">75%</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="progress-container progress-primary">
                <span class="progress-badge">HTML,CSS,JS</span>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                    data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                    style="width: 70%;"></div>
                  <span class="progress-value">70%</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
-->