
<div class="container">
    <h2 class="title">
      <span class="title-word title-word-1">MY</span>
      <span class="title-word title-word-2"> PRO</span>
      <span class="title-word title-word-3">JECTS</span>
    </h2>
</div>

<div class="slideshow-container">
    <div class="mySlides" >
      <img src="assets/images/web.png" alt="HEY" >
    </div>

    <div class="mySlides" style="display:none">
      <img src="assets/images/web1.png" alt="HEY" >
    </div>

    <div class="mySlides" style="display:none">
      <img src="assets/images/web2.png" alt="HEY" >
    </div>

    <div class="mySlides" style="display:none">
      <img src="assets/images/web3.gif" alt="HEY" >
    </div>

    <div class="mySlides" style="display:none">
      <img src="assets/images/web4.gif" alt="HEY" style="height:100%">
    </div>
    
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>

<br>

<div class="slideshow-container2">
  <div class="mySlides2">
    <a href="https://play.google.com/store/apps/details?id=com.bien.easyorder">
    <img src="assets/images/cook.png" alt="HEY" ></a>
  </div>

  <div class="mySlides2" style="display:none">
    <img src="assets/images/cook2.gif" alt="HEY" >
  </div>

  <div class="mySlides2" style="display:none">
    <img src="assets/images/cook3.png" alt="HEY" >
  </div>

  <div class="mySlides2" style="display:none">
    <img src="assets/images/cook4.gif" alt="HEY" >
  </div>

  <div class="mySlides2" style="display:none">
    <img src="assets/images/cook5.png" alt="HEY">
  </div>
  
  <a class="prev2" onclick="plusSlides2(-1)">&#10094;</a>
  <a class="next2" onclick="plusSlides2(1)">&#10095;</a>
</div>
        