<header>
	<div class="overlay">
    <div class="text">
      WEB DEVELOPER
    </div>

    <div class="name">
      <span class="letter1">P</span><span class="long-text1"> I'm a Persistent </span>
      <span class="letter2">A</span><span class="long-text2"> Ambitious </span>
      <span class="letter3">U</span><span class="long-text3"> Unique </span>
      <span class="letter4">L</span><span class="long-text4"> (fast) Learner </span>
      <span class="letter5">A</span><span class="long-text5"> Adventurous girl.</span>
    </div>

  </div>

</header>


